@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,700;1,6..12,200;1,6..12,300&family=Open+Sans:ital,wght@0,500;0,800;1,800&display=swap');

:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search_bar {
    display: flex;
}

.card {
    width: 230px;
    background: white;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .card_image {
        height: 50%;
        width: 80%;
        margin: auto;
        margin-top: 5%;
    }

    .card_body {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0.75em;
        height: 55%;

        .card_title {
            font-family: "Nunito Sans";
            display: block;
            font-size: 0.85em;
            flex: 1;
        }

        .card_stars {
            margin-bottom: 1em;

            .star {
                font-size: 0.75em;
                color: orange;
                height: 20px;
                width: 20px;
            }
        }
    }
}

.card_stars_general {
    margin-bottom: 1em;

    .star {
        font-size: 0.75em;
        color: orange;
        height: 20px;
        width: 20px;
    }
}

body {
    background-color: var(--bg_body);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding: 0.5em 3em;
}

.shadow {
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
}

.search_result {
    font-size: 10px;
    margin-top: 2.5em;
    margin-bottom: 3.5em;
}

.buttons-container {
    margin-right: 15px;
    display: flex;
    justify-content: center;
}

.moon-icon {
    height: 14px;
}

.blue-triangle,
.green-triangle {
    position: absolute;
    width: 100%;
    height: 0;
    border-bottom: 68px solid transparent;
}

.blue-triangle {
    border-left: 90vw solid var(--brand-primary);
    border-right: 50px solid transparent;
}

.green-triangle {
    border-right: 800px solid var(--brand-secondary);
}

.header {
    width: 100%;
    background-color: var(--bg_default);
}

.welcome {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    align-items: start;
    padding: 2em 0 0.75em 0;
}

.welcome-header {
    margin-top: 5%;
    color: var(--brand-secondary);
    font-size: 20px;
    font-weight: 700;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brief-desc {
    font-size: 14px;
    color: var(--body-text);
}

#central_div {
    display: flex;
    justify-content: center;
}

.search_div {
    width: 100%;
    display: flex;
    border: solid 1px var(--lines-color);
    border-right: none;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    background-color: white;
}

.search_input {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
}

#search_icon {
    margin-right: 10px;
    margin-left: 10px;
    color: gray;
}

.option_div {
    display: flex;
}

.option_div select {
    border: none;
}

.title {
    color: var(--brand-primary);
    font-size: 18px;
    font-weight: bold;
}

.unchecked {
    color: var(--bg_default);
}

.option_div .border_left {
    border-left: none;
}

.border_left {
    border-radius: 0 5px 5px 0;
}

.nev_par {
    height: 50px;
    padding: 35px 20px;
    text-align: left;
    background-color: var(--bg_default);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nev_par button {
    border-radius: 5px;
    border-style: solid;
    margin-right: 10px;
    padding: 5px 7px 5px 0px;
    background-color: var(--bg_default);
    border-width: 1px;
    color: var(--body-text);
    border-color: var(--lines-color);
    display: flex;
    justify-content: center;

    &:hover {
        background-color: rgb(209, 209, 209);
        cursor: pointer;
    }

    &:active {
        background: rgb(193, 194, 255);
        box-shadow: 0px 0px 10px -5px rgba(17, 0, 255, 0.5);
    }
}


#title {
    margin-top: 15px;
    color: var(--brand-secondary);
}

#descreption_container {
    background-color: var(--body-text);
    display: flex;
    min-width: 100%;
    padding: 15px;
    max-height: 250px;
    
    overflow: auto;
    
}

#nes_div_part_one {
    
    top: 15px;
    margin-left: 20%;
    width: 30%;
}

#brif_des {
    color: var(--bg_default);
    margin-top: 15px;
}

.chiledOfdiv_dital_page {
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    background-color: white;
    position: absolute;
    margin-top: 25px;
    margin-right: 5%;
    width: 25%;
    border: 1px var(--lines-color) solid;
    left: 55%;
    padding-bottom: 20px;
    
}

.hide_overflow_text{
    margin: 5px;
}
.chiledOfdiv_home_page {
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 300px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    border: 1px var(--lines-color) solid;
}

.div_img {
    border-radius: 10px 10px 0 0;
    height: 40%;
    width: 100%;
}

.cards_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    row-gap: 1.5em;
    justify-content: space-between;
}

.filter-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--lines-color);
    padding: 0 5px;
    width: 150px;
}

.filter-container>* {
    padding: 0;
    margin: 0;
}

.filter-container>label {
    color: black;
    font-size: 10px;
    padding-top: 0.1em;
    padding-left: 0.35em;
}

#button_div {
    padding: 5%;
    border: solid var(--lines-color) 1px;
    margin-left: 5%;
    margin-right: 5%;
}

#add_button {
    color: var(--bg_default);
    background-color: var(--brand-secondary);
    width: 100%;
    height: 40px;
    border: var(--brand-secondary);
}

#list_div {
    border-top: 1px var(--lines-color) solid;
    border-bottom: 1px var(--lines-color) solid;
    border-left: none;
    border-right: none;
    margin-left: 20%;
    margin-top: 15px;
    width: 33%;
}

#sub_list_div {
    padding: 5%;
    border-left: var(--lines-color) solid 1px;
    border-right: var(--lines-color) solid 1px;
    background-color: var(--bg_default);
}

#sub_list_div_secondary {
    padding: 10px;
    border: var(--lines-color) solid 1px;
    border-bottom: none;
    background-color: var(--bg_default);
}

#footer {
    margin-top: 10px;
    color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
}

#footer_logo {
    font-size: 20px;
}

.color {
    color: red;
}

.icon-color {
    color: white;
    stroke: currentcolor;
}

ion-icon {
    width: 30px;
    height: 17px;
    color: black;
    margin: auto;
}

.welcome_section {
    width: 100%;
    background: var(--bg_default);

}

footer {
    background-color: var(--bg_default);
    color: var(--body-text);
    height: 11rem;
    position: fixed;
    /* Set position to fixed */
    bottom: 0;
    /* Place it at the bottom of the viewport */
    width: 100%;
    /* Make it full width */
    z-index: 999;
}

#favouritesTitle {
    padding-left: 4.7%;
    padding-top: 1%;
    font-size: 0.5rem;
}

.cardConta {
    border-radius: 0.5em;
    height: 8rem;
    width: 9rem;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5)
}

.card_image_fav {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 55%;
}

.cardFavouritesConta {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 0.5%;
    gap: 1rem;
    margin-left: 4.7%;
}

.cardPosetion {
    margin-left: 1rem;
}
.checkIcon{
    width: 2rem;
    height: 1.5rem;
    color: #03C180;
}
#sub_list_div_secondary{
    justify-content: center;
}
.main_cont{
    display: flex;
    
    flex-wrap: wrap;
    position: relative;
}

@media screen and (max-width: 845px) {
    .cards_wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .brief-desc {
        font-size: 13px;
    }

    .green-triangle {
        border-right: 400px solid var(--brand-secondary);
    }

    .search_bar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .option_div {

        width: 100%;
    }

    .filter-container {
        width: 50%;
        border-radius: 0px 0px 0px 5px;
    }

    .cards_wrapper {
        justify-content: center;
    }

    .search_div {
        border-radius: 5px 5px 0px 0px;
        ;
    }

    .border_left {
        border-radius: 0px 0px 5px 0px;
    }

    .welcome-header {
        font-size: 15px;
        padding-left: 4.5rem;
    }


}

@media screen and (max-width: 400px) {
    .button-text {
        display: none;
    }

    .brief-desc {
        font-size: 11px;
    }

    .green-triangle {
        border-right: 200px solid var(--brand-secondary) !important;
    }

    #nev_par {
        height: 70px;
    }

    #nev_par button,
    #button_div button {
        border-radius: 5px;
        width: 40px;
        height: 30px;
    }

    #nev_par button span,
    #button_div button span {
        display: none;
    }

    #nev_par button {
        padding: 0 !important;
    }

    #add_button {
        left: 50%;
        transform: translateX(50%);
    }


}

@media screen and (max-width: 300px) {
    .welcome-header {
        font-size: 0.8rem;
        padding-left: 4.5rem;
    }



}